html{
    font-size: 62.5%;
}

body{
    background-color: #000000;
    font-family: 'Roboto Condensed', sans-serif;
}

.r-m{
    margin: 0;
}

.r-p{
    padding: 0;
}
/*--------------------------------------------
                NAVIGATION
---------------------------------------------*/
.navbar{
    background-color: #1e1e1e;
    margin: 0;
    border-radius:0;
}

/*--- Centrer la navbar ---*/
.navbar .navbar-nav{
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar .navbar-collapse{
    text-align: center;
}
/*----------------------------*/
.navbar-header button{
    background-color: #000;
}

.navbar-header button .icon-bar{
    background-color: #eee;
}

#nav_collapsed{
    margin:0;
    padding: 0;
}

.navbar ul{
    
}

.navbar ul li{
    margin-left: 4rem;
}

.navbar ul li:first-child{
    margin-left: 0;
}


.navbar ul li a{
    width: 100%;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-align: center;
}

.navbar ul li a:hover{
    background-color: #000;
}

a.navbar-brand{
    width: 50px;
    height: 50px;
    padding: 0;
    padding-left: 2rem;
    text-align: center;
}
a.navbar-brand i{
    font-size: 28px;
    line-height: 50px;
}


/*--------------------------------------------
                MENU
---------------------------------------------*/
#menu{
    background-color: #141414;
}

#menu ul{
    text-align: center;
}

#menu ul li{
    height: 130px;
    text-align: center;
}

#menu ul li a{
    height: 100%;
    
}

#menu ul li a img{
    margin: auto;
    margin-top: 20px;
}

/*--------------------------------------------
                IPHONE7
---------------------------------------------*/
#iphone7{
    text-align: center;
}

#iphone7 h2, #iphone7 h3{
    color: #ffffff;
    
}

#iphone7 h2{
    font-weight: normal;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
}

#iphone7 h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 60px;
    margin-top: 0;
}

#iphone7 p{
    color: #CCC;
}

#iphone7 img{
    width: 100%;
}

/*--------------------------------------------
                BLANC
---------------------------------------------*/
#blanc{
    background: linear-gradient(180deg, #ffffff 0%, #eeeeee 100%);
    padding: 40px 0 0 0;
    text-align: center;
}

#blanc article h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 36px;
    color: #303235;
    margin: 40px 0;
}

#blanc article p{
    margin: 40px 0;
    font-size: 16px;
}

/*--------------------------------------------
                FORMULAIRE
---------------------------------------------*/
#formulaire fieldset{
    margin-top: 30px;
}

#formulaire legend{
    color: #ffffff;
    text-align: center;
    font-size: 50px;
    border: 0;
}


#formulaire .form-group{
    margin: 25px 0;
}

#formulaire fieldset .form-group:first-of-type{
    margin-bottom: 0;
}

#formulaire .controls{
    text-align: left;
    position: relative;
}

#formulaire input{
    height: 48px;
    padding: 9px 12px 3px 12px;
    font-size: 20px;
}

#formulaire textarea{
    padding-top: 9px;
    font-size: 20px;
}

#formulaire label{
    position: absolute;
    left:25px;
    top: 5px;
    color: #1e1e1e;
    font-size: 20px;
    display: inline-block;
    border-radius: 5px;
    padding: 5px;
}

#formulaire label:focus, #formulaire label:hover{
    cursor: text;
    color: #2b9efd;
}

#formulaire label.active{
    top: -20px;
    background-color: rgba(255,255,255,1);
}

#formulaire button{
    font-size: 20px;
    text-align: center;
}

#formulaire .has-error .form-control {
    border-width: 3px;
}
/*--------------------------------------------
                FOOTER
---------------------------------------------*/
#footer{
    background-color: #1e1e1e;
    margin-top: 50px;
}

#footer p{
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    text-align: center;
    line-height: 50px;
}
/*--------------------------------------------
                FIN
---------------------------------------------*/
/*https://scotch.io/tutorials/default-sizes-for-twitter-bootstraps-media-queries*/
/*==========  Non-Mobile First Method  ==========*/

    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {
        .navbar ul li{
            margin-left: 3rem;
        }        
    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {
        .navbar ul li{
            margin-left: 0.5rem;
        }
        
    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {
        #blanc{
            padding: 40px;
        }
        
        #blanc img{
            margin: 0 auto;
        }
        
        input[type="email"]{
            margin-bottom: 25px;
        }
        
        #formulaire button{
            margin-left: 15px;
        }
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {
            
    }

    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) {
        
    }