@font-face {
    font-family: 'ambleregular';
    src: url('Font/Amble-Regular-webfont.eot');
    src: url('Font/Amble-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Font/Amble-Regular-webfont.woff') format('woff'),
         url('Font/Amble-Regular-webfont.ttf') format('truetype'),
         url('Font/Amble-Regular-webfont.svg#ambleregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html{
    font-size: 62.5%;
}

body{
	font-family: 'ambleregular', Arial, serif;
    background: url(images/fondSite.jpg) repeat center fixed;
	background-size: cover; /* Version standardisée */
}

#wrap_page{
	width: 100%;
    max-width: 96rem;
    height: auto;
    
    margin: 40px auto;
    border-radius: 15px;
    box-shadow: 0px 0px 20px black;
    background-color: #36204e;
}

header{
	width: calc(100% - 36px);
	height: auto;
    box-sizing: border-box;
    float: left;
    
    margin: 40px 15px;
    margin: 4rem 1.5rem;
    border: 3px solid white;
	border-radius: 5px;
    background-color: white;
    text-align: center;
    line-height: 35px;
    line-height: 3.5rem;
}

@media all and (max-width: 700px)
{
	nav{
		font-size: 0.8em;
	}
}


#titre{
	width: 20%;
    min-width: 100px;
    min-width: 10rem;
    height: auto;
    box-sizing: border-box;
    padding: 0 0.7rem;
    float: left;
    
    background-color: #bec2ef;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
	font-weight: bold;
    font-size: 20px;
    font-size:2rem;
}

nav{
    width: 80%;
    height: auto;
    float: left;
    
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #36204e;
}

nav ul{
    width: 100%;
    height: auto;
    float: left;
	padding: 0;
    margin: 0;
}

nav	ul li{
    width: calc(100% / 4);
    min-width: 100px;
	display: inline-block;
    float: left;
    padding: 0;
    margin: 0;
    font-family: 'Gloria Hallelujah', cursive;
    text-transform: uppercase;
    font-size: 18px;
    font-size: 1.8rem;
}

nav a
{
	color: white;
	text-decoration: none; /* retire le soulignemement */
}

nav a:hover
{
	font-size: 1.1em;
    text-decoration: underline;
}

@media all and (max-width: 900px)
{
    #titre, nav ul li{
        min-width: 50px;
        min-width: 5rem;
    }
    
    nav ul li{
        width:calc(100% / 2);
    }
}

@media all and (max-width: 600px)
{
    #titre, nav ul li{
        font-size:1.5rem;
    }
}

/*------------------
    FIN DU HEADER
-------------------*/
/*------------------
        FOOTER
-------------------*/
footer{
    width: 100%;
    height: auto;
    clear: both;
}

footer.bleu h1{
    width: 50%;
    float: left;
    background-color: #bec2ef;
    margin: 0;
    padding-left: 10%;
    box-sizing: border-box;
    line-height: 4rem;
}

ul#liens{
    width: 50%;
    height: auto;
    background-color: #bec2ef;
    margin:0;
    padding:0;
    float: left;
}

ul#liens li{
    width:40px;
    height: 40px;
    display: inline-block;
    padding: 0;
    margin: 0;
    margin-right: 22%;
    text-align: center;
    line-height: 4rem;
    background-color: black;
    border-radius: 20px;
}

ul#liens li i{
    line-height: 40px;
    line-height: 4rem;
    font-size: 30px;
    font-size: 3rem;
    color: white;
}

#copyright
{
	width: 100%;
    margin: 0;
    padding: 0.5rem 0;
    font-size: 14px;
    font-size: 1.4rem;
    text-align: center;
	color: gray;
}

@media all and (max-width: 600px)
{
	#copyright
	{
		font-size: 1rem;
		padding: 1em;
	}
}