#page{
}

#page>*{
    font-size:20px;
    font-size: 2rem;
    color: white;
}

#page h1{
    font-family: 'Gloria Hallelujah', cursive;
	color:white;
    text-align: center;
    font-size: 30px;
    font-size: 3rem;
    margin-bottom: 20px;
}

#conteneur{
	text-align: center;
	border: 3px solid #54c0eb;
	border-radius: 1em;
}

aside
{
	text-align: center;
}

#conteneur a
{
	color: #54c0eb;
	margin:1rem;
}

#mobilite img{
    max-width:250px;
}


/*https://scotch.io/tutorials/default-sizes-for-twitter-bootstraps-media-queries*/
/*==========  Non-Mobile First Method  ==========*/

    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {

    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {
        #conteneur, #mobilite{
            font-size: 16px;
        }
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {

    }

    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) {
        
    }
