main #page{
    
}

main #page > h1{
	margin: 0 0 20px 0;
	margin: 0 0 2rem 0;
	font-family: 'Gloria Hallelujah', cursive;
	color: #eee;
    text-align: center;
    font-size: 30px;
    font-size: 3rem;
}


a{
	text-decoration: none;
	color: white;
}

#page li[role=tab]{
    margin-top: 0;
}

#page li[role=tab] a{
    border-radius: 4px 4px 0 0;
    border-color: #bec2ef;
    border-width: 3px;
    margin: 0;
}

#page a:hover{
	color: #BEC2EF;
}

#page ul{
	list-style-type: none;
	padding-left: 0em;
}

#page li{
	margin-top: 0.5em;
}



/*------------------------------
        COMPETENCES
--------------------------------*/
#competence{
	width: 100%;
	height: auto;
	margin-bottom: 20px;
    color: white;
    text-align: center;
}

#competence h2{
    font-size: 18px;
	font-size: 1.8rem;
    text-align: center;
    color: #54c0eb;
}

#competence > div{
    height: 450px;
    height: 45rem;
    border: 3px solid #bec2ef;
    border-radius: 5px;
}

#competence ul{
    text-align: center;
    margin: 0 10px;
}

#competence ul li{
    color: white;
	font-size: 18px;
	font-size: 1.8rem;
}

.barre
{
	background-color: #d5d6e1;
	border: 2px solid white;
	position: relative;
	height: 15px;
    margin:0 auto 1.5rem auto;
}

.barre::after
{
	content: "";
	position: absolute;
	background: #54c0eb;
	left: 0;
	top: 0;
	bottom: 0;
}

.barre[data-length="10"]:after { width: 10% }
.barre[data-length="20"]:after { width: 20% }
.barre[data-length="30"]:after { width: 30% }
.barre[data-length="40"]:after { width: 40% }
.barre[data-length="50"]:after { width: 50% }
.barre[data-length="60"]:after { width: 60% }
.barre[data-length="70"]:after { width: 70% }
.barre[data-length="80"]:after { width: 80% }
.barre[data-length="90"]:after { width: 90% }
.barre[data-length="100"]:after { width: 100% }

/*------------------------------
            CONTENU
--------------------------------*/
#contenu{
	min-height: 925px;
    position: relative;
    display:block;
	text-align: left;
    margin : 4rem 0;
}

#contenu h2{
    font-size: 2rem;
    line-height: 3rem;
    margin: 0;
}

#contenu h2:hover{
    color: #54c0eb;
}

aside.rubrique{
    padding: 0;
    box-sizing: border-box;
    
    background:#36204e;
    border: 2px solid #bec2ef;
    border-radius: 0 0 5px 5px;
}


.rubrique h3{
	padding-top:3rem;
	color: white;
	font-size: 24px; 
	font-size: 2.4rem;
	font-weight: normal;
}
.rubrique h3:first-child{
	margin-top:0;
}

.rubrique h4{
	color: white;
	font-size: 18px;
	font-size: 1.8rem;
    font-weight: bold;
    margin:0;
    margin-top: 20px;
}

.rubrique p{
	color: white;
	font-size: 18px;
	font-size: 1.8rem;
    margin-top:0;
}

.rubrique h4+p{
    margin-top: 20px;
}

.rubrique a, .rubrique a:focus{
	font-style: italic;
    text-decoration: underline;
    color: white;
}

/*https://scotch.io/tutorials/default-sizes-for-twitter-bootstraps-media-queries*/
/*==========  Non-Mobile First Method  ==========*/

    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {
        #competence > div{
            padding : 0 10px 10px 10px;
        }
    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {
        #competence > div{
            height: auto;
        }

    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {
        .rubrique{
            padding:0;
        }
        .rubrique h4+p{
            margin-top: 0;
        }
        
        #competence li{
            text-align: left;
        }

        #competence .barre{
            margin-top: 1.1rem;
        }

        #competence > div{
            height: auto;
        }
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {

    }

    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) {
        
    }