main{
	margin: 0;
	padding: 0;
}


#conteneur{
    width : 100%;
    padding: 0 20px;
    box-sizing: border-box;
	text-align: center;
	color: #bec2ef;
    margin: 40px 0;
}

#conteneur h1{
    color:#54C0EB;
    font-size: 28px;
    font-size: 2.8rem;
}

#conteneur p{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    font-size: 1.8rem;
    color: white;
}

#conteneur a{
    color: #54c0eb;
    text-decoration: none;
}

#bouton{
	width: 40%;
    min-width: 40px;
    height: auto;
    height: auto;
    margin: 20px auto;
}

#bouton img {
    max-width: 100px;
    width: 100%;
}

/*https://scotch.io/tutorials/default-sizes-for-twitter-bootstraps-media-queries*/
/*==========  Non-Mobile First Method  ==========*/

    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {

    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {
        #conteneur p{
            width: 90%;
        }
    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {
    
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {

    }

    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) {
        
    }